{% extends "base.html" %}
{% load static %}

{% block title %}Модерирование конференции{% endblock %}
{% block content %}
    <div class="container">
        <h3>Управление конференцией {{ conf.title }}</h3>
        <div class="row">
            <div class="col-xl-4">
                {% include "includes/form.html" %}
            </div>
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {% for lecture in conf.lectures.all %}
                        <div class="row">
                            <div class="col d-flex justify-content-between align-items-center align-content-center">
                                {% if lecture.confirmed %}
                                    <p>{{ lecture.time }}</p>
                                {% else %}
                                    <p> Желаемое время: {{ lecture.desired_time }}</p>
                                {% endif %}
                                <a href="{% url 'manager:lecture-detail' conf.slug lecture.slug %}">
                                    <p>{{ lecture.title }}</p>
                                </a>
                                <a href="{{ lecture.file.url }}")>
                                    <p>Скачать доклад</p>
                                </a>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="{{ lecture.slug }}_active" {% if lecture.confirmed %} Checked {% endif %}>
                                    <label class="form-check-label" for="{{ lecture.slug }}">Активна</label>
                                </div>
                                <input type="time" name="{{ lecture.slug }}">
                            </div>
                        </div>
                    {% empty %}
                        <p>Пока нет лекций</p>
                    {% endfor %}
                    <input type="submit" name="time_manager" class="btn btn-primary" style="font-size: 23px;font-weight: bold;border-radius: 4px;" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}