{% extends "base.html" %}
{% load static %}

{% block title %}Подробное описание товара{% endblock %}
{% block content %}
<section class="conf-detail" style="background: linear-gradient(rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35)),
{{ conf.get_image_400x300.url }} center / cover;">
    <header class="text-center text-white masthead" style="background: rgba(52,58,64,0);">
        <div class="container">
            <div class="row" style="margin-bottom: 86px;">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5">{{ conf.title }} - {{ conf.description }}</h1>
                    <h3 class="mb-5">{{ conf.date }}</h3>
                    <h5 class="mb-5" style="color: var(--bs-white);">тема: {{ conf.category.title }}</h5>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" name="speaker" class="btn btn-primary" style="font-size: 23px;font-weight: bold;border-radius: 4px;" value="Я докладчик"></input>
                        <input type="submit" name="listener" class="btn btn-primary" style="font-size: 23px;font-weight: bold;border-radius: 4px;margin-left: 74px;" value="Я посетитель"></input>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    {% for lecture in conf.lectures.all %}
                        <a href="{% url 'manager:lecture-detail' conf.slug lecture.slug %}">
                            <div class="d-flex justify-content-between" style="background: #ffffff;margin-bottom: 16px;">
                                <p style="color: var(--bs-indigo);">{{ lecture.desired_time }}</p>
                                <p style="color: var(--bs-indigo);">{{ lecture.title }}</p>
                                <p style="color: var(--bs-indigo);">{{ lecture.speaker.user.username }}</p>
                            </div>
                        </a>
                    {% empty %}
                        <p>Пока нет лекций</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
</section>
{% endblock %}