{% extends "base.html" %}
{% load static %}

{% block title %}Подробное описание товара{% endblock %}
{% block content %}
<section class="conf-detail" style="background: linear-gradient(rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35)),
url({{ conf.get_image_x1280.url }}) center / cover;">
    <header class="text-center text-white masthead" style="background: rgba(52,58,64,0);">
        {% if user.is_authenticated and is_admin %}
            <a href="{% url 'manager:conf-admin' conf.slug %}">
                <button type="submit" name="admin" class="btn btn-primary" style="font-size: 23px;font-weight: bold;border-radius: 4px;">Изменить конференцию</button>
            </a>
        {% endif %}
        <div class="container">
            <div class="row" style="margin-bottom: 86px;">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5">{{ conf.title }} - {{ conf.description }}</h1>
                    <h3 class="mb-5">{{ conf.date }}</h3>
                    <h5 class="mb-5" style="color: var(--bs-white);">тема: {{ conf.category.title }}</h5>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" name="speaker" class="btn btn-primary" style="font-size: 23px;font-weight: bold;border-radius: 4px;" value="Я докладчик">
                        <input type="submit" name="listener" class="btn btn-primary" style="font-size: 23px;font-weight: bold;border-radius: 4px;margin-left: 74px;" value="Я посетитель">
                    </form>
                </div>
            </div>
            {% for lecture in conf.lectures.all %}
                <a href="{% url 'manager:lecture-detail' conf.slug lecture.slug %}">
                    <div class="row" style="background: var(--bs-gray-100);border-radius: 15px;margin-bottom: 20px;height: 99px;">
                        <div class="col-xl-2 d-flex justify-content-center align-items-center">
                            <p style="color: var(--bs-gray-900);margin-bottom: 0px;">{{ lecture.time }}</p>
                        </div>
                        <div class="col d-flex flex-column justify-content-around align-items-center">
                            <p class="text-center d-xl-flex" style="color: var(--bs-gray-900);font-weight: bold;font-size: 18px;margin-bottom: 0px;"> {{ lecture.title }}</p>
                            <p class="text-center d-xl-flex" style="color: var(--bs-gray-900);font-size: 18px;margin-bottom: 0px;"> {{ lecture.description }}</p>
                        </div>
                        <div class="col-xl-2 d-flex justify-content-center align-items-center">
                            <p style="color: var(--bs-gray-900);margin-bottom: 0px;">{{ lecture.speaker.user.username }}</p>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>Пока нет лекций</p>
            {% endfor %}
        </div>
    </header>
</section>
{% endblock %}