{% extends "base.html" %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container">
        <h3>Результаты поиска: {{ search_phrase }}</h3>
        <div class="row">
            <div class="col-xl-2">
                <form action="{% url 'homepage:search' %}" method="get" class="d-flex">
                    {% csrf_token %}
                    <input class="form-control" type="text" placeholder="Искать еще:" name="search">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col">
                <div class="row gy-4 row-cols-1 row-cols-md-2">
                    {% load get_model_name %}
                    {% for item in search_list %}
                        <div class="col">
                            <div class="row">
                                {% if item|model_name == 'Conference' %}
                                    <a href="{% url 'manager:conf-detail' item.slug  %}">
                                        <p style="font-size: 20px;font-weight: bold;">{{ item.title }}</p>
                                        <p style="font-size: 10px;color: var(--bs-gray-700);">{{ item.date }}</p>
                                        <p>{{ item.description }}</p>
                                    </a>
                                {% else %}
                                    <a href="{% url 'manager:lecture-detail' item.conference.slug item.slug %}">
                                        <p style="font-size: 20px;font-weight: bold;">{{ item.title }}</p>
                                        <p style="font-size: 10px;color: var(--bs-gray-700);">{{ item.time }}</p>
                                        <p>{{ item.description }}</p>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}