{% load static %}

<footer class="footer-basic" style="background: var(--bs-gray-400);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                <p class="text-muted small mb-4 mb-lg-0">©AllConf</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end my-auto h-100"><a href="{% static 'mailto:igor.kuzmenkov.05@mail.ru' %}">contact@allconf.ru</a></div>
        </div>
    </div>
</footer>