<footer class="footer-basic" style="background: var(--bs-gray-400);">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        {% comment %} <li class="list-inline-item"><a href="{% url 'homepage:index' %}">Home</a></li> {% endcomment %}
        <li class="list-inline-item"></li>
        {% comment %} <li class="list-inline-item"><a href="{% url 'about:description' %}">About</a></li> {% endcomment %}
    </ul>
    <p class="copyright">PascalWorld © 2022</p>
</footer>